html, body {
  background-color: #E17000;
  color: white;
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

center {
  height: 100%;
}

.nav {
  background-color: #002B54;
  color: #FFFFFF;
}

.navbar-brand {
  background-color: #002B54;
  color: white;
}

.navbar {
  background-color: #002B54;
  color: white;
}

.nav-link {
  background-color: #002B54;
  color: white;
}

#loaddiv {
  background-color: white;
  color: black;
  width:85%;
  align-items: center;
  margin-bottom: 20px;
}

#post-table {
  color: black;
}

#nav-container {
  background-color: #002B54;
  color: white;
}
