#forum-name{
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 50px;
}


#home-link {
margin-top: 5px;
padding: 5px;
}

#view-profile {
margin-top: 5px;
padding: 5px;
}

#edit-profile {
margin-top: 5px;
margin-right: 40px;
padding: 5px;
}

#search-user {
margin-top: 5px;
padding: 5px;
}
