html,body{
    height:100%;
}

.center-div {
    margin-top:50px;
    height:100%;
    overflow-y:scroll;
}

#loaddiv.container {
    min-height:100%;
    margin:0px auto 0px auto;
}

.navbar {
    background-color: rgba(125, 125, 125, 0.6);
}

#nav-container {
    width: 100%;
}

#login-box {
    align-self: flex-end;
    width: 100%;
}

#login-button {
    margin-top: 9px;
    margin-left: 4px;
}

#logout-button {
    margin-top: 9px;
    margin-left: 4px;
}

#username {
    margin-top: 9px;
    display: inline-block;
    align-self: flex-end;
}

#password {
    margin-top: 9px;
    display: inline-block;
    align-self: flex-end;
}

#nav-list > .not-login {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

#nav-list {
    display: inline-flex;
    width: 90%;
    margin-left: 15px;
}

#forum-name {
    display: inline-flex;
    flex: 1 1 auto;
    width: 10%;
}

#nav-list li,
#nav-list li a {
    text-align: center;
    display: inline-block;
}

#navbarSupportedContent {
    display: inline-block;
    width: 90%;
}



/* Index Styles
Used in index.php */
.topicrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border-top:1px lightgray solid;
    padding-left:1%;
}

.topiccell {
    align-self:center;
    min-width:90px;
}

/* Post Styles 
Used in topic.php */
.topic-top-flex {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}

.topic-top-item {
    max-width:40%;
}

#reply-box.container {
    width:100%;
}

#reply-button {
    margin-top:10px;
}

.post-container {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    min-height: 150px;
    border-top:lightgray 1px solid;
    margin: 10px 0px 10px 0px;
    padding-top: 10px;
}

.poster-info {
    display:flex;
    flex-direction: column;
    height:100%;
    width: 10%;
    min-width:150px;
    border-right: gray 1px solid;
}

.poster {

}

.post-avatar {

}

.post-votes button {
    font-size: x-small;
}

.post-content {
    padding: 0px 10px 0px 10px;
    display:flex;
    flex-direction: column;
    height:100%;
    width:90%;
    justify-content: space-between;
}

.post-info {
    font-size: small;
    align-self: flex-end;
}