.navbar {
  background-color: rgba(125, 125, 125, 0.47);
}

#nav-container {
  width: 100%;
}

#login-box {
  align-self: flex-end;
  width: 100%;
}

#login-button {
  margin-top: 9px;
  margin-left: 4px;
}

#logout-button {
  margin-top: 9px;
  margin-left: 4px;
  display: none;
}

#username {
  margin-top: 9px;
  display: inline-block;
  align-self: flex-end;
}

#password {
  margin-top: 9px;
  display: inline-block;
  align-self: flex-end;
}

#nav-list {
  display: inline-flex;
  flex: 1 1 auto;
  width: 90%;
  margin-left: 15px;
}

#forum-name {
  display: inline-flex;
  flex: 1 1 auto;
  width: 10%;
}

#nav-list li, #nav-list li a {
  text-align: center;
  display: inline-block;
}

#navbarSupportedContent {
  display: inline-block;
  width:90%;
}
