.register-container {
  margin: 5em auto;

  width: 40%;
}

.register-box {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em 2em;
  background: #cfcfcf;
  width: 99%;
  height: 99%;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 1em;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 1em;
}

.register-box:before {
  content: '';
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  bottom: -0.8em;
  left: -0.8em;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 0.5em;
}

#hidden-password-error {
  display: none;
  color: red;
}

#hidden-email-error {
  display: none;
  color: red;
}

.login h1 {
  margin: -2em -2em 2.05em;
  line-height: 4em;
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 0.1em white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 0.3em 0.3em 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 0.1em whitesmoke;
  box-shadow: 0 0.1em whitesmoke;
}

.navbar {
  background-color: rgba(125, 125, 125, 0.47);
}

#nav-container {
  width: 100%;
}

#login-box {
  align-self: flex-end;
  width: 100%;
}

#login-button {
  margin-top: 9px;
  margin-left: 4px;
}

#logout-button {
  margin-top: 9px;
  margin-left: 4px;
  display: none;
}

#username {
  margin-top: 9px;
  display: inline-block;
  align-self: flex-end;
}

#password {
  margin-top: 9px;
  display: inline-block;
  align-self: flex-end;
}

#nav-list {
  display: inline-flex;
  flex: 1 1 auto;
  width: 90%;
  margin-left: 15px;
}

#forum-name {
  display: inline-flex;
  flex: 1 1 auto;
  width: 10%;
}

#nav-list li, #nav-list li a {
  text-align: center;
  display: inline-block;
}

#navbarSupportedContent {
  display: inline-block;
  width:90%;
}
